@model Oidc.FE.Models.Requests.UserLoginRequest
@{
    ViewData["Title"] = "ClientLoginWithoutQrCode";
}

<h1>ClientLoginWithoutQrCode</h1>

<form method="post">
    <label asp-for="Username">Username:</label>
    <input asp-for ="Username" />

    <label asp-for="Password">Password:</label>
    <input asp-for="Password" />

    <button type="submit">Login</button>
</form>
