@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Caller @ViewData["Title"]</h1>

<p>ID TOKEN: <span id="id_token">NULL</span></p>

<script>
    if (window.location.hash) {
        // Fragment exists
        document.getElementById("id_token").innerHTML = window.location.hash.substring(1);
        
        console.log("Fragment exists: ");
        console.log(window.location.hash);
    } else {
        // Fragment doesn't exist
        
        console.log("Fragment doesn't exists");
    }
</script>